<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--关于MyBatis的一些常用配置-->
    <settings>
        <!--放开下面的注释将打印 SQL 日志-->
        <!--<setting name="logImpl" value="STDOUT_LOGGING"/>-->
        <!-- 开启驼峰命名自动转换 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>

